---
title: Altoros Cassandra for PCF (Beta)
owner: Partners
---


<p class="note warning">
<strong>WARNING! </strong>
The Altoros Cassandra for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes how to install, configure, and use Altoros Cassandra for Pivotal Cloud Foundry (PCF). 
Altoros Cassandra for PCF registers a service broker on PCF and exposes its service plans on the Marketplace. 
Developers can provision Cassandra keyspaces by creating instances of service plans using Apps Manager or the cf Command Line Interface (CLI) tool.

## <a id='overview'></a>Overview

Altoros Cassandra for PCF includes the following key features:

* Based on [Apache Cassandra](https://cassandra.apache.org/).
* Shared and on-demand service plans.
* Provisions a Cassandra keyspace for use with one or more PCF apps.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Altoros Cassandra for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.8.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 21, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.8.6</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Altoros Cassandra for PCF has the following requirements:

+ Amazon S3 bucket for Apache Cassandra backups

+ AWS API credentials to read/write files to the Amazon S3 bucket

## <a id="feedback"></a>Feedback

Report bugs, make feature requests, or ask questions on the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
