---
title: Installing and Configuring Altoros Cassandra for Pivotal Platform
owner: Partners
---

This topic describes how to install and configure Altoros Cassandra for Pivotal Platform.

##<a id='prereq'></a> Prerequisites

To complete this procedure, you need:

* An Amazon S3 bucket for Apache Cassandra backups
* AWS API credentials to read/write files to the Amazon S3 bucket

##<a id='install'></a> Install and Configure Altoros Cassandra for Pivotal Platform

Complete the following steps to download, install, and configure the Altoros Cassandra for Pivotal Platform tile.

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/altoros-cassandra).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Cassandra for Pivotal Platform.
This adds the tile to your staging area.

1. Click the newly added **Altoros Cassandra for Pivotal Platform** tile.

1. From the **Settings** tab, click **Cassandra Snapshots Configuration**.

2. Configure the fields as follows:
  <table>
    <tr><th width="25%">Field</th><th>Instructions</th></tr>
    <tr><td><strong>AWS Access Key</strong></td>
        <td>Enter the access key for the Amazon S3 bucket for backups.<br>
            </td>
    </tr>
    <tr><td><strong>AWS Access Secret</strong></td>
        <td>Enter the secret access key for the Amazon S3 bucket.</td>
    </tr>
    <tr><td><strong>Amazon S3 Bucket Name</strong></td>
        <td>Enter the name of the Amazon S3 bucket.</td>
    </tr>
    <tr><td><strong>AWS S3 Region</strong></td>
        <td> Select the region where the Amazon S3 bucket was created.</td></tr>
  </table>

    <%= image_tag("images/backup_settings.png") %>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Altoros Cassandra for Pivotal Platform tile.
