---
title: Installing and Configuring Altoros Cassandra for PCF
owner: Partners
---

This topic describes how to install and configure Altoros Cassandra for PCF.

##<a id='install'></a> Install and Configure Altoros Cassandra for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Cassandra for PCF.
This adds the tile to your staging area.

1. Click the newly added **Altoros Cassandra for PCF** tile.

1. From the **Settings** tab, click **Cassandra Snapshots Configuration**.
Altoros Cassandra for PCF requires that you have already created a bucket on Amazon S3, and have API credentials that have access to this bucket. Also you should specify the region in which the bucket was created.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Altoros Cassandra for PCF tile.
