---
title: Release Notes for Altoros Cassandra for Pivotal Platform
owner: Partners
---

##<a id="ver"></a> v0.8.6

**Release Date:** March 25, 2018

Features included in this release:

* Switched stemcell to xenial

##<a id="ver"></a> v0.8.5

**Release Date:** November 25, 2018

Features included in this release:

* Bump On-Demand Services SDK to v0.24.0 for CVE-2018-15759 vulnerabilities

##<a id="ver"></a> v0.8.4

**Release Date:** October 31, 2018

Features included in this release:

* Requires 3586 stemcell series
* Tile now uses colocated errands

##<a id="ver"></a> v0.8.0

**Release Date:** December 19, 2017

Features included in this release:

* Added on-demand service plan

##<a id="ver"></a> v0.7.3

**Release Date:** November 9, 2017

Features included in this release:

* Allow the operator to disable Cassandra snapshots

##<a id="ver"></a> v0.7.2

**Release Date:** August 16, 2017

Features included in this release:

* Remove the minor version number from stemcell criteria to allow the user to apply stemcell security patches

##<a id="ver"></a> v0.7.1

**Release Date:** July 31, 2017

Features included in this release:

* Added Pivotal Platform Ops Manager 1.11 and Pivotal Platform Elastic Runtime 1.11 support
* Fixed failing Smoke Tests errand

##<a id="ver"></a> v0.7.0

**Release Date:** May 30, 2017

Features included in this release:

* Open beta
* Apache Cassandra v3.0.13
* Automated backups to AWS S3
