---
title: Release Notes for Altoros Cassandra for PCF
owner: Partners
---

##<a id="ver"></a> v0.7.0

**Release Date:** June 5, 2017

Features included in this release:

* Open Beta.
* Apache Cassandra v3.0.13.
* Automated backups to AWS S3.
